@use "../utils/font" as *;
@use "../utils/outline" as *;

/* Screen Reader Text: meant only for screen readers. */
.screen-reader-text {

	border: 0;
	left: -10000px;
	top: auto;
	position: absolute !important;
	padding: 0;
	margin: -1px;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;

	&:focus {

		@extend .outline;
		@extend .f4;

		font-weight: bold;
		display: block;
		height: auto;
		width: auto;
		z-index: 99999;

		padding: var( --size-2 ) var( --size-3 );
		background: white;
		color: black;
		left: var( --size-2 );
		top: var( --size-2 );
		max-width: var( --size-7 );

	}

}
