@include mq-prefix( 'b' ) {

	border: var( --border-width ) solid var( --color-border );

	&-none { border: none; }

	@each $c_name, $c_value in $colours {
		&-#{$c_name} {
			border-color: var( --color-#{$c_name} );
		}
	}

	@each $p_name, $p_value in $positions {
		&-#{$p_name} {
			border-#{$p_value}: var( --border-width ) solid var( --color-border );
		}
	}

	&-br-round { border-radius: 999rem; }

	@each $s_name in ( 0, 1, 2, 3 ) {

		// Border width.
		&#{$s_name} {
			border-width: var( --size-#{$s_name} );
		}

		// Border Radius on all corners.
		&-br#{$s_name} {
			border-radius: var( --size-#{$s_name} );
		}

		// Border Radius on specific corners.
		@each $p_name, $p_value in $positions-corner {
			&-br-#{$p_name}#{$s_name} {
				border-#{$p_value}-radius: var( --size-#{$s_name} );
			}
		}

		// Border width on different sides.
		@each $p_name, $p_value in $positions {
			&-bw-#{$p_name}#{$s_name} {
				border-#{$p_value}-width: var( --size-#{$s_name} );
			}
		}

	}

};
