@use "../lib/responsive" as *;

@include mq-prefix( 'display' ) {

	&-block { display: block; }
	&-inline-block { display: inline-block; }
	&-inline { display: inline; }

	// We want this to override display block so put it last.
	&-none,
	&-hide-empty:empty { display: none; }

}