@use "../lib/responsive" as *;

@include mq-prefix( 'float' ) {

	&-none { float: none; }
	&-r { float: right; }
	&-l { float: left; }

}

@include mq-prefix( 'clear' ) {

	clear: both;

	&-none { clear: none; }
	&-r { clear: right; }
	&-l { clear: left; }

}
