@use "sass:list";
@use "../lib/responsive" as *;
@use "../vars/fonts" as *;

@include mq-prefix('f') {

	// Font weights.
	@each $w in $font-weights {
		&-fw#{$w} {
			font-weight: $w;
		}
	}

	// Font styles.
	&-fs-i {
		font-style: italic;
	}

	&-fs-n {
		font-style: normal;
	}

	// Font size.
	@each $s_name,
	$s_value in $font-sizes {
		&#{$s_name} {

			font-size: var(--type-size-#{$s_name});

			@if list.nth($s_value, 1) {
				line-height: #{list.nth( $s_value, 1 )};
			}

			@if list.nth($s_value, 2) {
				letter-spacing: #{list.nth( $s_value, 2 )};
			}
		}
	}

}