@include mq-prefix( 'grid' ) {

	display: grid;
	gap: var( --size-4 );

	&-auto { grid-auto-flow: row; }

	&-col {

		&-all { grid-column: 1 / -1; }
		&-auto { grid-column: auto; }

		@each $v in ( 1, 2, 3, 4, 5, 6 ) {
			&s#{$v} { grid-template-columns: repeat( $v, minmax( 10px, 1fr ) ); }
			&-s#{$v} { grid-column-start: $v; }
			&-e#{$v} { grid-column-end: $v; }
		}

		@each $v in ( 1, 2, 3, 4, 5 ) {
			&-span#{$v} { grid-column: span $v; }
		}

	}

}
