@use "../lib/responsive" as *;

@include mq-prefix( 'l' ) {

	&-ls-n {

		list-style-type: none;
		padding: 0;

	}

	&-inline {

		list-style-type: none;
		padding: 0;

		li {

			display: inline;

		}

	}

}
