@include mq-prefix('position-') {

	&a {
		position: absolute;
	}

	&r {
		position: relative;
	}

	&f {
		position: fixed;
	}

	&s {
		position: sticky;
		top: 0;
	}

	&cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

}