.scroll-smooth {
	scroll-behavior: smooth;
}

.pulse {
	animation: pulse 1s infinite;
}

@keyframes pulse {

	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}

}

.fade-in {
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}