.scroll-smooth {
	scroll-behavior: smooth;
}

.pulse {
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes pulse {

	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}

}

.fade-in {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}


[class*="anim-"] {
	animation-fill-mode: both;
}

.anim- {

	@each $v in ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ) {
		&d#{$v * 100} { animation-delay: #{$v * 100}ms; }
		&s#{$v * 100} { animation-duration: #{$v * 100}ms; }
	}

}
