@use "sass:color";
@use "sass:map";
@use "sass:list";

$colours: () !default;
$colours: map.merge(
	(
		// Color Palette.
		'black': #000000,
		'gray4': #111827,
		'gray3': #374151,
		'gray2': #6B7280,
		'gray1': #D7DAE0,
		'white': #FFFFFF,

		'blue-light': #72aee6, // 20
		'blue': #2271b1, // 50
		'blue-dark': #043959, // 80
		'red-light': #ff8085,
		'red': #d63638,
		'red-dark': #631919,
		'green-light': #2fdc5b,
		'green': #06ae2d,
		'green-dark': #00450c,
		'yellow-light': #ecd8a2,
		'yellow': #f0c33c,
		'yellow-dark': #9d7e20,
	),
	$colours
);

// Theme colours.
// The first colour is for the light theme, the second is for the dark theme.
$colour_theme: () !default;
$colour_theme: map.merge(
	(
		'bg': (
			white,
			gray4,
		),
		'fg': (
			gray4,
			gray1,
		),
		'bg-accent': (
			blue,
			yellow,
		),
		'fg-accent': (
			white,
			black,
		),
		'bg-highlight': (
			blue-dark,
			yellow,
		),
		'fg-highlight': (
			white,
			black,
		),
		'pop': (
			gray1,
			black,
		),
		'link': (
			blue-dark,
			yellow,
		),
		'border': (
			gray1,
			gray3,
		),
		'code': (
			green,
			green,
		),
		'bg-code': (
			white,
			gray4,
		),
	),
	$colour_theme
);
