$sizes: (
	'0': 0,
	'1': var( --size-base ),
	'2': calc( var( --size-base ) * 2 ),
	'3': calc( var( --size-base ) * 4 ),
	'4': calc( var( --size-base ) * 8 ),
	'5': calc( var( --size-base ) * 16 ),
	'6': calc( var( --size-base ) * 32 ),
	'7': calc( var( --size-base ) * 64 ),
	'8': calc( var( --size-base ) * 128 ),
	'9': calc( var( --size-base ) * 256 ),
	'10': calc( var( --size-base ) * 512 ),
);

:root {

	--size-base: 0.15rem;

	@include mq-tablet() {
		--size-base: 0.2rem;
	}

	@include mq-desktop() {
		--size-base: 0.25rem;
	}

	@each $s_name, $s_value in $sizes {
		--size-#{$s_name}: #{$s_value};
	}

}
