$positions: (
	't': 'top',
	'r': 'right',
	'b': 'bottom',
	'l': 'left',
);

$positions-corner: (
	'tl': 'top-left',
	'tr': 'top-right',
	'bl': 'bottom-left',
	'br': 'bottom-right',
);

$percentages: ( 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 );

$sizes: (
	0: 0,
	1: var( --size-base ),
	2: calc( var( --size-base ) * 2 ),
	3: calc( var( --size-base ) * 4 ),
	4: calc( var( --size-base ) * 8 ),
	5: calc( var( --size-base ) * 16 ),
	6: calc( var( --size-base ) * 32 ),
	7: calc( var( --size-base ) * 64 ),
	8: calc( var( --size-base ) * 128 ),
	9: calc( var( --size-base ) * 256 ),
);

:root {

	--size-base: 0.15rem;

	@include mq-tablet() {
		--size-base: 0.2rem;
	}

	@include mq-desktop() {
		--size-base: 0.25rem;
	}

	@each $s_name, $s_value in $sizes {
		--size-#{$s_name}: #{$s_value};
	}

}
