@use "../utils/outline" as *;

a {

	text-decoration-skip-ink: auto;
	text-underline-offset: 0.1em;
	text-decoration-thickness: 0.15em;
	cursor: pointer;

	color: var( --color-link );

	&:focus {

		@extend .outline;

	}

	&:hover {

		text-decoration: none;

	}

}
