a {

	text-decoration-skip-ink: auto;
	text-underline-offset: 0.05em;
	cursor: pointer;

	color: var( --color-link );

	&:focus {

		@extend .outline;

	}

	&:hover {

		text-decoration: none;

	}

}
