button,
[type=submit],
[type=reset],
[type=button] {

	-webkit-appearance: button;

}

.btn,
button,
[role=button],
[type=submit],
[type=reset],
[type=button] {

	font: inherit;
	border: none;
	text-decoration: none;
	display: inline-block;
	border-radius: var( --border-radius );
	padding: var( --size-1 ) var( --size-3 );

	&:not([class*="bg-"]) {

		background: var( --color-bg-accent );
		color: var( --color-fg-accent );

	}

	&:hover {

		cursor: pointer;

	}

	&:focus {

		@extend .outline;

	}

	&:disabled {

		opacity: 0.5;
		cursor: not-allowed;

	}

}
