button,
[type=submit],
[type=reset],
[type=button] {

	-webkit-appearance: button;

}

.btn,
button,
[role=button],
[type=submit],
[type=reset],
[type=button] {

	font: inherit;
	border: none;
	display: inline-block;
	width: auto;
	text-decoration: none;
	border-width: 2px;

	border-radius: var( --border-radius );
	padding: var( --size-1 ) var( --size-3 );
	background: var( --color-bg-accent );
	color: var( --color-fg-accent );

	&:hover {

		cursor: pointer;
		filter: contrast( 1.5 );

	}

	&:active,
	&:focus {

		@extend .outline;

	}

	&:disabled {

		opacity: 0.5;
		cursor: not-allowed;

	}

}
