h1,
h2,
h3,
h4,
h5,
h6 {

	overflow-wrap: break-word;

	margin-top: var(--size-5);
	margin-bottom: var(--size-4);
	text-wrap: balance;

	a {

		text-decoration-color: var(--color-link);
		text-decoration-skip-ink: all;
		color: inherit;

	}

}

h3,
h4,
h5,
h6 {

	margin-top: var(--size-4);

}


h1 {
	@extend .f2;
}

h2 {
	@extend .f3;
}

h3 {
	@extend .f4;
}

h4 {
	@extend .f5;
}

h5 {
	@extend .f6;
}

h6 {
	@extend .f6;
}