input,
select,
textarea {

	border-style: solid;
	border-width: var(--border-width);

}

input,
button,
select,
textarea {

	font: inherit;
	box-shadow: none;
	border-radius: var(--border-radius);
	line-height: var(--type-lh-2);
	padding: var(--size-1) var(--size-3);
	max-width: 100%;

	&:active,
	&:focus {

		@extend .outline;

		&:invalid {

			outline: 0.2rem red solid;

		}

	}

	&:disabled {

		opacity: 0.5;
		cursor: not-allowed;

	}

}

/* Make the textarea wider than other inputs */
textarea {

	width: 100%;
	resize: vertical;

	@include mq-tablet() {

		width: 60%;

	}

}

/* Ensures the checkbox and radio inputs do not have a set width like other input fields */
[type="checkbox"],
[type="radio"] {

	width: 1.5em;
	height: 1.5em;

	&:hover {

		cursor: pointer;

	}

}

[type="search"] {

	&:before {

		display: block;
		content: ' ';
		background: green;
		width: 10px;
		height: 10px;

	}

}

[type="color"] {

	padding: 0;
	border: none;

}

[type="file"] {

	border: none;
	padding: 0;

}

.dropzone[type="file"] {

	width: 100%;
	border: var(--size-1) dashed currentColor;
	padding: var(--size-4);
	border-radius: var(--size-2);

}

::file-selector-button {

	font: inherit;
	padding: var(--size-1) var(--size-3);
	margin-inline-end: var(--size-3);

	&:hover {

		cursor: pointer;

	}

}

::-webkit-file-upload-button {

	font: inherit;
	-webkit-appearance: button;
	padding: var(--size-1) var(--size-3);
	margin-inline-end: var(--size-3);

	&:hover {

		cursor: pointer;

	}

}

label {

	font-weight: bold;
	display: block;

	margin-top: var(--size-1);
	margin-bottom: var(--size-1);

}

fieldset {

	margin-top: var(--size-4);
	margin-bottom: var(--size-4);
	padding: var(--size-3);
	border: var(--border-width) solid var(--color-border);

}

legend {

	padding-left: var(--size-2);
	padding-right: var(--size-2);
	font-weight: bold;

	>* {

		margin: 0;

	}

}