input,
select,
textarea {

	background: var( --color-pop );
	border: var( --border-width ) solid var( --color-border );

}

input,
button,
select,
textarea {

	font: inherit;
	box-shadow: none;
	border-radius: var( --border-radius );
	line-height: var( --type-lh-2 );
	padding: var( --size-1 ) var( --size-3 );

	&:active,
	&:focus {

		@extend .outline;

	}

	&:disabled {

		opacity: 0.5;
		cursor: not-allowed;

	}

}


/* Make the textarea wider than other inputs */
textarea {

	width: 100%;
	resize: vertical;

	@include mq-tablet() {

		width: 60%;

	}

}

/* Ensures the checkbox and radio inputs do not have a set width like other input fields */
[type="checkbox"],
[type="radio"]{

	width: auto;

}

label {

	font-weight: bold;
	display: block;

	margin-top: var( --size-1 );
	margin-bottom: var( --size-1 );

}

fieldset {

	margin-top: var( --size-4 );
	margin-bottom: var( --size-4 );
	padding: var( --size-3 );
	border: var( --border-width ) solid var( --color-border );

}

legend {

	padding-left: var( --size-2 );
	padding-right: var( --size-2 );
	font-weight: bold;

	> * {

		margin: 0;

	}

}
