input,
select,
textarea {

	font: inherit;
	box-shadow: none;
	width: 60%;

	border-radius: var( --border-radius );
	line-height: var( --type-lh-2 );
	padding: var( --size-2 );
	color: var( --color-input );
	background: var( --color-input-bg );
	border: 1px solid var( --color-border );

	&:focus {

		@extend .outline;

	}

}


/* Make the textarea wider than other inputs */
textarea {

	width: 80%;

}

/* Makes input fields wider on smaller screens */
@media only screen and (max-width: 720px) {

	textarea,
	select,
	input {
		width: 100%;
	}

}

/* Ensures the checkbox and radio inputs do not have a set width like other input fields */
input[type="checkbox"],
input[type="radio"]{

	width: auto;

}
