@use "../lib/responsive" as *;
@use "../utils/font" as *;

table {

	caption,
	th {

		text-align: left;
		font-weight: bold;

	}

	caption,
	th, td {

		padding: var( --size-1 );
		display: inline-block;
		vertical-align: top;
		word-break: break-word;
		min-width: var( --size-5 );
		overflow-x: auto;

		@include mq-tablet() {

			display: table-cell;

		}

	}

}
