@use "../utils/font" as *;

p {

	margin-top: var(--size-4);
	margin-bottom: var(--size-4);
	overflow-wrap: break-word;

}

small {

	@extend .f6;

}

sub,
sup {

	@extend .f6;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	padding: 0 0.1em;

}

sub {

	bottom: -0.25em;

}

sup {

	top: -0.5em;

}

strong {

	font-weight: 700;

}